

<div class="w-full border-b drop-shadow-md border-grey-400 bg-white h-16  flex justify-between sm:h-20 px-2 py-2 sm:px-4 md:px-8 lg:px-12 items-center  ">
    <div class="flex space-x-1  items-center">
        <img src="https://pbs.twimg.com/profile_images/1086871544901656576/f8jZ6ag9_400x400.png" width="50px" alt="">
        <p class="text-blue-800 font-bold">Job Finder</p>
    </div>
    <div class="space-x-2 flex ">
        <a href="/usersignin" class=" bg-blue-800 hover:bg-blue-600 font-bold px-4 py-2 text-white duration-100 rounded  sm:hover:bg-transparent sm:bg-transparent sm:hover:text-blue-800 sm:text-blue-600">Sign In</a> 
       <div class="bg-gray-300 h-10 w-0.5 rounded"></div>
        <a href="/companylogin" class="bg-blue-800 hover:bg-blue-600 font-bold px-4 py-2 text-white duration-100 rounded sm:hover:bg-transparent sm:bg-transparent sm:hover:text-blue-800 sm:text-black ">Post Job</a>
        
    </div>
   
</div>    
